.contaniner-email {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-complete {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.text-decoarte {
    font-family: 'Rubik', sans-serif;
}